---
---

$bg-color: #f8f8fe;
$inner-color: #fafafa;
$hover-color: #f0f0ff;
$link-color: #273bc2;
$link-hover-color: #121e87;
$font-size: calc(14px + 0.3vw);

html,
body {
  background-color: $bg-color;
  font-family: 'Hind', sans-serif;
  font-size: 16px; // fallback
  font-size: $font-size;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2.1em;
}

a {
  color: $link-color !important;

  &:hover {
    text-decoration: none;

    &:not(.showcase-item) {
      color: $link-hover-color !important;
    }
  }
}

@media(min-width: 768px) {
  .outer-container {
    margin: 0 1em;
  }
}

.inner-container {
  background-color: $inner-color;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  padding: 2em;
  margin: 0 auto;
  max-width: 40em;

  h1 {
    display: inline-block;
  }

  p {
    text-align: justify;
  }
}

.showcase-item {
  color: #000 !important;
  display: block;
  margin-left: -2em;
  margin-right: -2em;
  padding-left: calc(2em - 15px);
  padding-right: calc(2em - 15px);
  transition: background-color 0.3s ease;

  img {
    max-width: 200px;
    width: 100%;
  }

  &:hover {
    background-color: $hover-color;
  }

  @media(max-width: 767px) {
    h2 {
      text-align: center;
    }
  }
}

.showcase-item-img {
  margin-bottom: 20px;
  margin-top: 20px;
}

.rss-img {
  margin-bottom: 1em;
  width: 2em;
}

img {
  width: 100%;
}

.tags {
  font-size: 0.8em;
  margin: 0.4em 0;

  > .tag:first-child {
    border-radius: 0.5em 0 0 0.5em;
    margin-left: 0;
  }

  > .tag:last-child {
    border-radius: 0 0.5em 0.5em 0;
  }
}

.tag {
  border: 1px solid #aaa;
  margin-left: -1px;
  padding: 0.1em 0.5em;
}

.blog-index-title {
  display: inline-block;
}
